<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Живой поиск и форма</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Импортируем CSS файл -->
</head>
<body>
    {% if message %}
        <div id="notification" class="notification">Фото и данные успешно отправлены!</div>
    {% endif %}

    <!-- Форма -->
    <form id="export-form" action="/{{ user_id }}/submit" method="post" enctype="multipart/form-data">

        <div class="search-container">
            <input type="text" id="search-input" class="search-input" placeholder="Поиск фирмы..." name="search">
            <div id="suggestions-container" class="suggestions-container">
                <!-- Сюда будут добавляться предложения -->
            </div>
        </div>
        <div class="address-container">
            <!-- Поле для ввода адреса -->
            <input id="address-input" class="address-input" type="text" placeholder="Введите адрес" name="address">
            <div class="address-suggestions" id="address-suggestions">
                <!-- Сюда будут добавляться предложения -->
            </div>
        </div>       
        <!-- Выбор действия -->
        <label for="action">Что сделал:</label>
        <select id="action" name="action" required>
            <option value="поменял">Поменял</option>
            <option value="забрал">Забрал</option>
            <option value="выставил">Выставил</option>
            <option value="переставил">Переставил</option>
        </select>

        <!-- Номера баков -->
        <label for="taken_basket_number">Номер взятого бака:</label>
        <input type="text" id="taken_basket_number" name="taken_basket_number" required placeholder="Введите номер взятого бака">

        <label for="placed_basket_number">Номер поставленного бака:</label>
        <input type="text" id="placed_basket_number" name="placed_basket_number" required placeholder="Введите номер поставленного бака">

        <!-- Дубки/Вектор/База/РСМ -->
        <label for="choice">Выберите:</label>
        <select id="choice" name="choice" required>
            <option value="дубки">Дубки</option>
            <option value="вектор">Вектор</option>
            <option value="база">База</option>
            <option value="рсм">РСМ</option>
            <option value="фаун">фаун</option>
        </select>

        <!-- Поле для веса (появляется, если выбран Вектор) -->
        <div id="weight-field" class="weight-field">
            <label for="weight">Вес:</label>
            <input type="number" id="weight" name="weight" placeholder="Введите вес" min="0">
        </div>

        <!-- Поле для фото -->
        <label for="photo">Фото:</label>
        <input type="file" id="photo" name="photo" accept="image/*" required>

        <button type="submit">Отправить</button>
    </form>

    <script src="/static/scripts.js"></script>

</body>
</html>
